# Comma-separated frontend URLs allowed to send authentication cookies.
FRONTEND_URL=http://localhost:5173,http://localhost:5174
# Set to 'warn' or 'error' to hide INFO logs
LOG_LEVEL  = warn
LOG_LEVEL  = ERROR

PORT  = 8000
AIRTABLE_API_KEY  = yr_API_Key
AIRTABLE_BASE_ID  = yr_Base_ID
AIRTABLE_TABLE_NAME  = yr_Airtable_Nmae

EMAIL_ADDRESS  = yr_gmail_ID@gmail.com
EMAIL_PASSWORD  = yr_password
OPENAI_API_KEY  = yr_OPENAI_API_KEY

MONGODB_URL  = mongodb://localhost:27017/yr_db_url
JWT_SECRET  = yr_secret
